{% extends 'base.content.html.twig' %}

{% block title %}Hello TryController!{% endblock %}
{% form_theme demoArticleForm 'form/security_theme.html.twig' %}

{% block headerBanner %}
    <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Создай уникальную статью идеально подходящую для вашего бизнеса, сайта или проекта!</h1>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

                    <h2 class="card-title text-center mb-4">Создание статьи</h2>

                    {% if demoArticleCreated %}
                        <div class="alert alert-info" role="alert">
                            Чтобы создать статью по настоящему <a
                                    href="{{ path('app_register') }}">Зарегистрируйтесь</a>
                        </div>
                    {% endif %}

                    {{ form_errors(demoArticleForm.title) }}
                    {{ form_errors(demoArticleForm.words) }}

                    {{ form_start(demoArticleForm, {
                        attr: {
                            class: 'form-signin'
                        }
                    }) }}
                    {{ form_rest(demoArticleForm) }}
                    {{ form_end(demoArticleForm) }}

                </div>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-12 mx-auto">

                    <h2 class="card-title text-center mb-4">{{ article.title ?? 'Тестовая статья' }}</h2>

                    <div class="row">
                        <div class="p-3">
                            <h2>Добавляйте свои слова</h2>
                            <p class="lead mb-0">
                                {{ article.content[0] ?? defaultContent[0] }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="showcase-text p-3">
                            <div class="media">
                                <div class="media-body">
                                    <h2>Вставляйте изображения</h2>
                                    <p class="lead mb-0">
                                        {{ article.content[1] ?? defaultContent[1] }}
                                    </p>
                                    <p class="lead mb-0">
                                        {{ article.content[2] ?? defaultContent[1] }}
                                    </p>
                                </div>
                                <img class="ml-3" src="img/bg-showcase-2.jpg" width="518" height="345" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="p-3">
                            <h2>Интегрируйтесь по API</h2>
                            <p class="lead mb-0">
                                {{ article.content[3] ?? defaultContent[2] }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Готовы начать? Регистрируйтесь прямо сейчас!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="form-row">
                        <div class="col-12 col-md-6 mx-auto">
                            <a href="{{ path('app_register') }}"
                               class="btn btn-block btn-lg btn-primary">Регистрация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

